#button-group {
  padding-top: 2em;
}
.btn {
  height: 75px;
  width: 150px;
  color: white;
  border-color: white;
}

.btn:hover {
  color: whitesmoke!important;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn:focus,.btn:hover {
  color: whitesmoke;
}

.btn:active {
  color: whitesmoke!important;
}
.btn-green {
  background-color: #63c480;
}

.btn-blue {
  background-color: #3c56dd;
}

.btn-orange {
  background-color: #f09f6b;
}

.blue-bg {
  background-color: #3c56dd;
  color: white;
}

.green-bg {
  background-color: #63c480;
  color: white;
}

.orange-bg {
  background-color: #f09f6b;
  color: white;
}
 .greenHidden {
   display: none;
 }

.orangeHidden {
  display: none;
}

.blueHidden {
  display: none;
}
/*===========
Controls
============*/
.controls li {
  list-style: none;
}
.controls {
  min-height: 60px;
	width: 460px;
	border-radius: 5px;
	overflow: hidden;
}
